Урок 5. Работа с файлами

1. Создать программный файл в текстовом формате, записать в него построчно данные, вводимые пользователем. Об окончании ввода данных будет свидетельствовать пустая строка.

In [58]:
my_f = open("my_file.txt", "w")
i = 0
while i == 0:
    a = 0
    while a == 0:
        a = str(input("Enter new string, if no press 'Enter': ",))
        my_f.write(a +'\n')
        
        if a == '':
            i = 1
            break
my_f.close()
print('Here it is finished')

Enter new string, if no press 'Enter': Создать программный файл в текстовом формате,
Enter new string, if no press 'Enter': записать в него построчно данные,
Enter new string, if no press 'Enter': вводимые пользователем.
Enter new string, if no press 'Enter':
Here it is finished

In [105]:
my_f_ = open("my_file.txt", "r")
content = my_f_.read()
print(content)
my_f_.close()

Создать программный файл в текстовом формате,
записать в него построчно данные,
вводимые пользователем.

2. Создать текстовый файл (не программно), сохранить в нём несколько строк, выполнить подсчёт строк и слов в каждой строке.

In [60]:
import re

count_ = 0

with open('simple.txt', 'r', encoding="UTF-8") as file:
      
    content = file.read()
    #  print(content)
    
result = len(re.findall(r'\w+', content))

print("There are " + str(result) + " words.")

There are 434 words.

In [61]:
with open('simple.txt') as file:
    total= sum(1 for line in file if line.rstrip('\n')) # excluding empty lines
print('Total non-empty lines: ', total)

Total non-empty lines:  22

3. Создать текстовый файл (не программно). Построчно записать фамилии сотрудников и величину их окладов (не менее 10 строк). Определить, кто из сотрудников имеет оклад менее 20 тысяч, вывести фамилии этих сотрудников. Выполнить подсчёт средней величины дохода сотрудников.

Пример файла:
               Иванов 23543.12
               Петров 13749.32

In [106]:
import pandas as pd

workers = pd.read_csv('workers.txt', header=None, sep='\s+',names=["Surname", "Salary"] )
workers

     Surname    Salary
0     Иванов  14600.23
1     Петров  15789.67
2  Молокотин  24900.00
3     Сурков  21790.56
4    Серёгин  16469.99
5    Сидоров  17300.00
6    Ремезов  18250.98
7     Долгих  11980.00
8     Тиунов  12990.99
9      Крупп  22670.34

In [107]:
workers.Salary.max()

24900.0

In [108]:
workers.Salary.min()

11980.0

In [109]:
print("last name of the worker who has the maximum salary: -", 
      workers.Surname[workers.Salary == workers.Salary.max()].to_string(index=False), 
      ", salary =", workers.Salary[workers.Salary == workers.Salary.max()].to_string(index=False))

last name of the worker who has the maximum salary: - Молокотин , salary = 24900.0

In [110]:
print('last name of the worker who has the minimum salary: -',
      workers.Surname[workers.Salary == workers.Salary.min()].to_string(index=False), ", salary =", 
    workers.Salary[workers.Salary == workers.Salary.min()].to_string(index=False))

last name of the worker who has the minimum salary: - Долгих , salary = 11980.0

In [111]:
print('Average salary value: -',round(workers.Salary.mean(), 2))

Average salary value: - 17674.28

In [112]:
import re

with open('workers.txt', 'r', encoding='utf-8') as f_:
    employees = {line.split()[0]: float(line.split()[1]) for line in f_}
    print(f'Average salary = {round(sum(employees.values()) / len(employees), 2)}\n')
    print('Employees with salary less 20000:')
    for i in employees.items():
        if i[1] < 20000: print(i[0])

Average salary = 17674.28

Employees with salary less 20000:
Иванов
Петров
Серёгин
Сидоров
Ремезов
Долгих
Тиунов

4. Создать (не программно) текстовый файл со следующим содержимым:
One — 1
Two — 2
Three — 3
Four — 4
Напишите программу, открывающую файл на чтение и считывающую построчно данные. При этом английские числительные должны заменяться на русские. Новый блок строк должен записываться в новый текстовый файл.

In [113]:
import re

with open('translate_num.txt', 'r', encoding='utf-8') as fn:
    fnum = [line.split() for line in fn]
    number = {line[0]: int(line[2]) for line in fnum}
    for i in number.items():
        i = list(i)
        if i[1] == 1:
            i[0] = 'Один'
        elif i[1] == 2:
            i[0] = 'Два'
        elif i[1] == 3:
            i[0] = 'Три'
        elif i[1] == 4:
            i[0] = 'Четыре'
        
        print(','.join([str(j) for j in i]).replace(',',' - '))
        a = ','.join([str(j) for j in i]).replace(',',' - ')
        with open('translated_num.txt', 'a', encoding='utf-8') as fan:  
            fan.write(f"{a}\n")

Один - 1
Два - 2
Три - 3
Четыре - 4

5. Создать (программно) текстовый файл, записать в него программно набор чисел, разделённых пробелами. Программа должна подсчитывать сумму чисел в файле и выводить её на экран.

In [120]:
with open('numbers.txt', 'a', encoding='utf-8') as f:
    numb_ = input('Enter a set of numbers separated by a space: ')
    f.write(numb_)

Enter a set of numbers separated by a space: 122 543 7689 55

In [121]:
with open('numbers.txt', 'r', encoding='utf-8') as f_:
    num_ = f_.read().split(' ')
    s = 0
    for i in num_:
        s = s + float(i)
    print(s)

156867.0

6. Сформировать (не программно) текстовый файл. В нём каждая строка должна описывать учебный предмет и наличие лекционных, практических и лабораторных занятий по предмету. Сюда должно входить и количество занятий. Необязательно, чтобы для каждого предмета были все типы занятий.
Сформировать словарь, содержащий название предмета и общее количество занятий по нему. Вывести его на экран.

Примеры строк файла: Информатика: 100(л) 50(пр) 20(лаб).
Физика: 30(л) — 10(лаб)
Физкультура: — 30(пр) —
Пример словаря: {“Информатика”: 170, “Физика”: 40, “Физкультура”: 30}

In [122]:
import re
d = {}
with open('Curriculum.txt', 'r', encoding='utf-8') as f_:
    Pl = f_.readlines()
    for line in Pl:
        subj_ = str(re.findall(r"\D+", line)[0]).replace(':', '')
        n_ = re.findall(r'\d+', line)
        s = sum(list(map(int, n_)))
        d[subj_] = [s]
    print(d)

{'Мат.анализ ': [230], 'Высш.алгебра ': [225], 'Аналит.геометрия ': [160], 'Тензорн.анализ ': [144], 'Физика  ': [225], 'Физподготовка ': [60], 'История  ': [94]}

7. Создать вручную и заполнить несколькими строками текстовый файл, в котором каждая строка будет содержать данные о фирме: название, форма собственности, выручка, издержки.
Пример строки файла: firm_1 ООО 10000 5000.

Необходимо построчно прочитать файл, вычислить прибыль каждой компании, а также среднюю прибыль. Если фирма получила убытки, в расчёт средней прибыли её не включать.
Далее реализовать список. Он должен содержать словарь с фирмами и их прибылями, а также словарь со средней прибылью. Если фирма получила убытки, также добавить её в словарь (со значением убытков).
Пример списка: [{“firm_1”: 5000, “firm_2”: 3000, “firm_3”: 1000}, {“average_profit”: 2000}].

Итоговый список сохранить в виде json-объекта в соответствующий файл.
Пример json-объекта:
[{"firm_1": 5000, "firm_2": 3000, "firm_3": 1000}, {"average_profit": 2000}]
Подсказка: использовать менеджер контекста.

In [150]:
import re
import json
F = {}
Aver_profit ={}
deb_ = 0
k = 0
Result_List = []
with open('Firms_list.txt', 'r', encoding='utf-8') as f_:
   
    Firm = f_.readlines()
    
    k = k + 1
    for line in Firm:
        Firm_0 = ''
        Firm_ = str(re.findall(r"\D+", line)[0])
        x1 = Firm_.find('»')
        
        for i in range(1, x1):
            Firm_0 = Firm_0 + Firm_[i]
            
        n_ = re.findall(r'\d+', line)
        s = list(map(int, n_))
        debit = s[0] - s[1]
        F[Firm_0] = debit
        if debit > 0:
            deb_ = deb_ + debit
    
Aver_profit['average_profit'] = round(deb_ / len(F.values()), 2)

Result_List.append(F)
Result_List.append(Aver_profit)

print(Result_List)
with open('my_file.json', 'w') as file_list:
    json.dump(Result_List, file_list)

[{'МягкоFF': 80000, 'Доставка': 45000, 'Dog&Kat': -16000, 'Мясная лавка': 77000, 'Турист': 730000, 'Кондитерская Беликов': -2000}, {'average_profit': 155333.33}]

In [151]:
json_str = json.dumps(Result_List)
print(json_str)
print(type(json_str))

[{"\u041c\u044f\u0433\u043a\u043eFF": 80000, "\u0414\u043e\u0441\u0442\u0430\u0432\u043a\u0430": 45000, "Dog&Kat": -16000, "\u041c\u044f\u0441\u043d\u0430\u044f \u043b\u0430\u0432\u043a\u0430": 77000, "\u0422\u0443\u0440\u0438\u0441\u0442": 730000, "\u041a\u043e\u043d\u0434\u0438\u0442\u0435\u0440\u0441\u043a\u0430\u044f \u0411\u0435\u043b\u0438\u043a\u043e\u0432": -2000}, {"average_profit": 155333.33}]
<class 'str'>

In [147]:
data = [{
"income": {
"salary": 50000,
"bonus": 20000
}
}]

In [148]:
with open("my_file.json", "w") as write_f:
    json.dump(data, write_f)

In [149]:
json_str = json.dumps(data)
print(json_str)
print(type(json_str))

[{"income": {"salary": 50000, "bonus": 20000}}]
<class 'str'>